<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Desafio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/dataTable/datatables.min.css"/>
    <link rel="stylesheet" href="style/style.css">

    <script src="../vendor/jquery/jq.js"></script>
    <script src="../vendor/popper/popper.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../vendor/dataTable/datatables.min.js"></script>
    <script src="../vendor/mask/jquery.mask.js"></script>
</head>
<body>
    <div id="containerCabecalho" class="container-fluid">
        <div class="row align-items-center h-100">
            <div class="col-1 text-center">
                <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-11 text-center">
                Desafio SoftExpert
            </div>
        </div>
    </div>